<h1>Listing listings</h1>

<table>
  <tr>
    <th>Location</th>
    <th>Email</th>
    <th>Name</th>
    <th>Ridedate</th>
    <th>Driver</th>
    <th>Password</th>
  </tr>

<% @listings.each do |listing| %>
  <tr>
    <td><%=h listing.location %></td>
    <td><%=h listing.email %></td>
    <td><%=h listing.name %></td>
    <td><%=h listing.ridedate %></td>
    <td><%=h listing.driver %></td>
    <td><%=h listing.password %></td>
    <td><%= link_to 'Show', listing_path(listing.key) %></td>
    <td><%= link_to 'Edit', edit_listing_path(listing.key) %></td>
    <td><%= link_to 'Destroy', listing_path(listing.key), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New listing', new_listing_path %>
