<h1>New board_config</h1>

<% form_for(@board_config) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :board_id %><br />
    <%= f.text_field :board_id %>
  </p>
  <p>
    <%= f.label :locale_id %><br />
    <%= f.text_field :locale_id %>
  </p>
  <p>
    <%= f.label :map_url %><br />
    <%= f.text_field :map_url %>
  </p>
  <p>
    <%= f.label :directions_url %><br />
    <%= f.text_field :directions_url %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', board_configs_path %>