<h1>New venue_config</h1>

<% form_for(@venue_config) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :locale_id %><br />
    <%= f.text_field :locale_id %>
  </p>
  <p>
    <%= f.label :venue_id %><br />
    <%= f.text_field :venue_id %>
  </p>
  <p>
    <%= f.label :date_format %><br />
    <%= f.text_field :date_format %>
  </p>
  <p>
    <%= f.label :home_url %><br />
    <%= f.text_field :home_url %>
  </p>
  <p>
    <%= f.label :schedule_url %><br />
    <%= f.text_field :schedule_url %>
  </p>
  <p>
    <%= f.label :checklist_url %><br />
    <%= f.text_field :checklist_url %>
  </p>
  <p>
    <%= f.label :iframe_url %><br />
    <%= f.text_field :iframe_url %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', venue_configs_path %>